<!DOCTYPE html>
<html>
{{template "_header.html" .Site}}

<body>
    <div class="ui container">
        {{template "_nav.html" .Site}}
        <div class="ui aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    {{template "openvpn.html" .OpenVPN}}
                </div>
                <div class="eight wide column">
                    {{template "slack.html" .Slack}} {{template "transmission.html"}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>