<h4 class="title is-4">IP Information</h4>
<table id="ipInfo" class="table">
</table>
<button id="refresh" class="button is-info">Refresh</button>

<script type="application/javascript">
    document
        .getElementById('refresh')
        .addEventListener('click', () =>
            fetch({{ .Prefix "ip" }})
                .then(res => {
                    if (!res.ok) {
                        console.log(res);
                        throw Error(res.statusText);
                    }
                    return res.json()
                })
                .then(json => {
                    const rows = Object.keys(json).map(k => `<tr><td>${k}</td><td>${json[k]}</td></tr>`).join('\n');
                    const table = document.getElementById("ipInfo");
                    table.innerHTML = rows;
                })
                .catch(error => {
                    const table = document.getElementById("ipInfo");
                    table.innerHTML = `<tr><td>${error}</td></tr>`;
                }));
</script>