<h3 class="ui header">IP Information</h3>

<table id="ipInfo" class="ui compact celled striped table">
</table>
<button id="refresh" class="ui button primary">Refresh</button>

<script type="application/javascript">
    document
        .getElementById('refresh')
        .addEventListener('click', () =>
            fetch({{ .Site.Prefix "ip"}})
                .then(res => {
                    if (!res.ok) {
                        console.log(res);
                        throw Error(res.statusText);
                    }
                    return res.json()
                })
                .then(json => {
                    const rows = Object.keys(json).map(k => `<tr><td>${k}</td><td>${json[k]}</td></tr>`).join('\n');
                    const table = document.getElementById("ipInfo");
                    table.innerHTML = rows;
                })
                .catch(error => {
                    const table = document.getElementById("ipInfo");
                    table.innerHTML = `<tr><td>${error}</td></tr>`;
                }));
</script>