<h4 class="title is-4">OpenVPN</h4>

<div class="mt-4">
    <h5 class="title is-5 mt-4">1. Select config directory</h5>
    <div class="field has-addons">
        <div class="control">
            <input class="input" id="dir" type="text" placeholder="Config directory" value="{{ .ConfigDir }}">
        </div>
        <div id="saveDir" class="control">
            <button type="submit" class="button is-info">
                <span class="icon is-small">
                    <ion-icon name="folder-open-outline"></ion-icon>
                </span>
                <span>Set config directory</span>
            </button>
        </div>
    </div>
</div>

<div class="mt-4">
    <h5 class="title is-5 mt-4">2. Download config</h5>
    <button id="download" class="button is-info">
        <span class="icon is-small">
            <ion-icon name="cloud-download-outline"></ion-icon>
        </span>
        <span>Download configs</span>
    </button>
</div>

<div class="mt-4">
    <h5 class="title is-5">3. Select config to use</h5>
    <select id="configs" class="dropdown">
        {{$selected := .Selected}}
        {{range .Configs}}
        <option {{if eq . $selected }}selected{{end}} value="{{ . }}">{{ . }}</option>
        {{end}}
    </select>
    <p></p>
    <button id="saveSelection" class="button mt-2">
        <span class="icon is-small">
            <ion-icon name="save-outline"></ion-icon>
        </span>
        <span>Update</span>
    </button>
</div>

<div class="mt-4">
    <h5 class="title is-5">4. Set config credentials</h5>
    <input class="input" id="username" type="text" placeholder="Username" value="{{ .Username }}">
    <input class="input mt-2" id="password" type="password" placeholder="Password" value="{{ .Password }}">
    <button id="credentials" class="button mt-2">
        <span class="icon is-small">
            <ion-icon name="save-outline"></ion-icon>
        </span>
        <span>Update credentials</span>
    </button>
</div>

<div class="mt-4">
    <h5 class="title is-5">5. Restart VPN connection</h5>
    <div class="field">
        <button id="restart" class="button is-danger">
            <ion-icon name="power-outline"></ion-icon>
            <span> Restart</span>
        </button>
    </div>
</div>

<script>
    document.getElementById("saveDir").addEventListener('click', () => {
        const selection = document.getElementById("dir");
        post('/api/openvpn/config', JSON.stringify({ dir: selection.value }));
    });
    document.getElementById("download").addEventListener('click', () => {
        post('/api/openvpn/download', {});
    });
    document.getElementById("saveSelection").addEventListener('click', () => {
        const selection = document.getElementById("configs");
        post('/api/openvpn/selection', JSON.stringify({ selected: selection.value }));
    });
    document.getElementById("credentials").addEventListener('click', () => {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        post("/api/openvpn/credentials", JSON.stringify({ username, password }));
    });
    document.getElementById("restart").addEventListener('click', () => {
        const selection = document.getElementById("configs");
        post('/api/openvpn/restart', JSON.stringify({ selected: selection.value }));
    });
</script>