{{if .Notification}}
    {{if eq .Notification.Type "info"}}
        {{template "_notification.html" .Notification }}
    {{end}}
    {{if eq .Notification.Type "error"}}
        {{template "_notification.html" .Notification }}
    {{end}}
{{end}}

<h6>OpenVPN configuration</h6>
<form class="form" method="post" action="openvpn/selection">
  <div class="form_group">
    <select id="config" name="config" class="browser-default">
      {{$selected := .Selected}}
      {{range .Configs}}
      
      <option value="{{ . }}" {{if eq . $selected }}selected{{end}}>{{ . }}</div>{{end}}
    </select>
  </div>
  <button class="button button-blue">Update config</button>
</form>

<h6>OpenVPN credentials</h6>
<form class="form" method="post" action="openvpn/credentials">
  <div class="form_group form-horizontal">
    <input name="username" type="text" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
  </div>
  <button class="button button-blue">Update credentials</button>
</form>
