<div class="is-4">
    <h4 class="title is-4">Slack Config</h4>
    <div class="field has-addons">
        <div class="control">
            <input class="input" id="webhook" type="text" placeholder="Slack Webhook URL" value="{{ .URL }}">
        </div>
        <div class="control">
            <button id="saveSlackUrl" class="button is-info">
                <span class="icon is-small">
                    <ion-icon name="save-outline"></ion-icon>
                </span>
                <span>Update Slack Config</span>
            </button>
        </div>
    </div>
</div>
<script>
    document.getElementById("saveSlackUrl").addEventListener('click', () => {
        const selection = document.getElementById("webhook");
        post('/api/slack/config', JSON.stringify({ url: selection.value }));
    });
</script>